body {
    font-family: "Roboto", "JetBrains Mono Medium", sans-serif;
    background-color: #f4f4f9;
    color: black;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mt-4 {
    margin-top: 20px;
}
.mt-2 {
    margin-top: 10px;
}
.title-text {
    color: black;
    font-family: "Roboto Bk", "JetBrains Mono ExtraBold", sans-serif;
    font-size: 1.8rem;
}
.descr-text {
    color: darkgray;
    font-size: 1.2rem;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "JetBrains Mono Light", sans-serif;
}

button {
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: darkgreen;
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 1.8rem;
}
.filter-btn {
    background-color: lightgray;
    color: black;
    padding: 6px 12px;
}
.filter-btn:hover {
    background-color: darkgray;
}

#statusMessage {
    padding: 8px;
    border-radius: var(--border-radius);
    margin-top: 16px;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.hidden {
    display: none;
}

/* --- Настройки --- */
.settings-section {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}

.settings-container {
    padding: 4px;
    font-size: 1.2rem;
}
.settings-section label {
    user-select: none;
    margin-right: 16px;
}
.number-label {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

#countInput:disabled {
    background-color: #eee;
}

/* --- Карточки --- */
#cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    flex: 1 1 600px;
    min-width: 300px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

.card h4 {
    margin-top: 0;
    color: black;
    opacity: 0.9;
    font-size: 1.15rem;
}

.answer-container {
    margin-top: 16px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: var(--border-radius);
    cursor: pointer;
    user-select: none;
    font-size: 1.2rem;
}

.blurred-text {
    font-size: 1.1rem;
    filter: blur(4px);
    transition: filter 0.3s;
    pointer-events: none;
}
.revealed-text {
    filter: blur(0);
    line-height: 1.1;
}
.reveal-prompt {
    color: darkgreen;
}