/* Общие параметры */
body {}

html {
    scroll-behavior: smooth;
}


/* Выделение мыши */
::selection {}

/* Скроллбар */
html {
    scrollbar-gutter: stable;
}
&::-webkit-scrollbar {
    background-color: white;
    width: 8px;
}
&::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 4px;
    background-clip: content-box;
}
&::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}